.dropdown{
	-webkit-appearance: none;
	height: 30px;
	width: 80%;
	text-align-last: center;
	border-style: hidden;
	background-color: #2F3241;
	color: #D9D9D9;
	font-size: medium;
	border-radius: 5px;
}

.dropdown_item{
	-webkit-appearance: none;
	height: 30px;
	text-align:center;
}

.input {
  color: #D9D9D9;
	background-color: #2F3241;
	border-style: hidden;
	font-size: small;
	height: 30px;
	text-align: center;
	border-radius: 5px;
	width: 100%;
}

.input:out-of-range {
	background-color: #EF5350;
}

.input_left {
	float: left;
	display: inline-block;
	margin-left: 10%;
	width: 35%;
}

.input_right {
	float: left;
	display: inline-block;
	margin-left: 10%;
	width: 35%;
}

.input_titleLeft {
  color: #D9D9D9;
	display: inline-block;
	font-size: small;
	text-align: left;
	text-align-last: left;
	width: 35%;
	padding-left: 5px;
	margin-left: 10%;
  float:left;
}

.input_titleRight {
  color: #D9D9D9;
	display: inline-block;
	font-size: small;
	text-align: left;
	text-align-last: left;
  width: 35%;
	margin-left: 10%;
  float:left;
}
