.mySlides {display: none}

.myImg {vertical-align: middle; width:86.5%}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -20px;
  color: #677393;
}

/* Position the "next button" to the right */
.prev {
  left: -20px;
  color: #677393;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #131722;
}

/* Caption text */
.explanationText {
  color: #000000;
  font-size: 15px;
  position: absolute;
  top: 240px;
  width: 100%;
  text-align: center;
  font-family: Helvetica;
}

@media (max-width: 500px) {
  .explanationText {
    top: 180px;
    color: #000000;
    font-size: 15px;
    position: absolute;
    width: 100%;
    text-align: center;
    font-family: Helvetica;
  }
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: -30px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #677393;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeDot, .dot:hover {
  background-color: #131722;
}

/* Fading animation
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
} */

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
